.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.video-container {
  position: relative;
  /* width: 500px; */
  width: 90vw;
  padding-bottom: 75%; /* This creates a 4:3 aspect ratio, adjust as needed */
}

.custom-video {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
}

.custom-video::-webkit-media-controls {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.custom-video::-webkit-media-controls-enclosure {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.pose {
  z-index: 3;
  position: absolute;
  top: 12%;
  left: 0;
  width: 100%;
  height: 75%;
}

.curtain {
  z-index: 2;
  background-color: black;
  position: absolute;
  top: 12%;
  left: 0;
  width: 100%;
  height: 75%;
}

/* Hide fullscreen button */
video::-webkit-media-controls-fullscreen-button {
  display: none !important;
}

