body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  border-radius: 20px; 
}

/* Hide fullscreen button */
video::-webkit-media-controls-fullscreen-button {
  display: none !important;
}

.pose {
  z-index: 3; /* Top layer */
  height: 60vh;
  pointer-events: none; /* This ensures the image doesn't capture user interactions */
  max-width: 800px;
  overflow-x: hidden;

}

