.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  /* overflow: hidden; */
  border-radius: 20px; /* Rounded corners */
}

.content-container {
  background-image: url('../public/Background_GolfGreen.png');
  background-repeat: repeat;

  width: 100vw;
  max-width: 800px;
  /* height: 100vh; */
  margin: 0;
  padding: 0;


}

.content {

  border: 20px solid transparent;
  border-image: url('../public/Background_GolfWhite.png') 20 repeat; /* Set the image, width, and repeat behavior */
  border-radius: 20px; /* Rounded corners */

  display: flex;
  flex-direction: column; /* This stacks items vertically */
  align-items: center; /* This centers items horizontally */
  
}

button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  border: none;
  background-color: darkgreen;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: lightgreen;
}

/* Hide fullscreen button */
video::-webkit-media-controls-fullscreen-button {
  display: none !important;
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 800px;


  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
}

.video {
  z-index: 1; /* Bottom layer */
  position: absolute;
  height: 60vh;
  max-width: 800px;
  overflow-x: hidden;
}

.pose {
  z-index: 3; /* Top layer */
  height: 60vh;
  pointer-events: none; /* This ensures the image doesn't capture user interactions */
  max-width: 800px;
  overflow-x: hidden;

}

.curtain {
  z-index: 2; /* Middle layer */
  background-color: black;
  position: absolute;

  width: 100%;
  max-width: 800px;
  height: 85%;
  overflow-x: hidden;

  pointer-events: none; /* This ensures the image doesn't capture user interactions */


}



